/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* 
.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0px 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

nav {
  width: 20%;
	height: 90%;
	position: absolute;
	top: 4%;
	left: 4%; 
	padding: 0;
  line-height: 1;
  text-align: center;
}


nav ul {
  position: absolute;
  bottom: 2%;
  left: 5%;
  width: 90%;
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
}

nav ul li {
  margin: 5px;
  padding: 11px;
  border-radius: 10px;
  color: white;
}

nav ul li:hover {
  background-color: #ffffff80;
}

a {
  text-decoration: none;
} */

* {
  background: #ecf0f1;
  height: 100vh;
  display: flex
}

li {
  list-style: none;
}

.nav-box {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 750px) {
  .nav-box {
    top: 50%;
    left: 20px;
  }
}